.headerTop {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid white;
}
.headerTop1 {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
}

.headerTopContainer {
  display: flex;
  width: 100%;
  height: 25%;
  background-color: #009ee2;
  align-items: center;
  color: antiquewhite;
  font-size: 15px;
}

.divider {
  border-right-style: solid;
  border-right-width: thin;
}

.logoimg {
  width: 100px;
  height: 70px;
  object-fit: contain;
}

.search-input:focus {
  outline-width: 0;
}
.customerdetails {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
}

.bordertype {
  border-color: darkgray;
  border-radius: 5px;
  padding: 4px;
  /* margin-left: 21px; */
}
.table-font {
  font-size: 15px;
  color: gray;
  margin-top: 12px;
}
.user-input:focus {
  outline-width: 0 !important;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* .textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; 
} */

.login-1 {
  width: 20.75rem;
  height: 15.813rem;
  &InputPhone {
    &Flag {
      width: 1.5rem;
    }
    &Seperator {
      width: 0.063rem;
      height: 1rem;
    }
  }
  &Line {
    width: 0.063rem;
    height: 3.75rem;
    border-radius: 20px;
    background: linear-gradient(180deg, #28282800 0%, #282828 100%);
    &Text {
      max-width: 9rem;
    }
  }
  &Icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  &BottomText {
    max-width: 19rem;
  }
}

input[type="file"]::file-selector-button {
  border: 2px solid #0bb5e42f;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #0d6efd;
  transition: 1s;
  color: #fff;
}

/* input[type="file"]::-ms-browse:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
} */

/* input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
} */

/* input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
} */
